body{
    background-color: aliceblue;
    margin-top: 10%;
    margin-bottom: 10%;
}
div.inputBox{
    text-align: center;
}
div.inputBox input.dropdownInput{
    width: 70mm;
    font-size: large;
}
div.inputBox label.inputFieldLabel{
    font-size: large;
    color: red;
}
div.dropdownList{
    margin-left: auto;
    margin-right: auto;
    width: 70mm;
    min-height: 0px;
    max-height: 150px;
    background-color: snow;
    overflow-y: scroll;
}
div.dropdownList div.note{
    padding: 5px 0px 5px 10px;
    font-size: large;
}